<form>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Title</label>
        <input type="text" class="form-control" id="formGroupExampleInput">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Content</label>
        <textarea type="text" class="form-control" id="formGroupExampleInput2" rows="4" cols="50"></textarea>
    </div>
    <div class="d-grid gap-2">
        <submit class="btn btn-primary" type="button">Submit</submit>
    </div>
</form>